/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.mb-5 {
    margin-top: -40px;
}

.bg-brown {
    background-color: #964B00;
}

.text-brown {
    color: #964B00;
}

#navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

/* Button Brown Style */
.btn-brown {
    background-color: #964B00;
    color: #fff;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-brown:hover {
    background-color: #7a3600;
    transform: scale(1.05);
}

.btn-brown:disabled {
    background-color: #a67c52;
    cursor: not-allowed;
}

/* Main Content Styles */
#main-content {
    padding-top: 50px;
}

.zigzag-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    position: relative;
}

/* Stage Wrapper */
.stage-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 5%;
}

/* Stage Containers */
#stage1-wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -60px;
}

#stage2-wrapper {
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -25%; /* Offset for zig-zag */
}

#stage3-wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 7%;
}

#stage4-wrapper {
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -12%; /* Offset for zig-zag */
}

/* Stage Styles */
/*Stage 1*/
.stage1{
    width: 180px;
    height: 180px;
    border: none;
    border-radius: 50%;
    background-color: #964B00;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.3s;
}

.stage1:hover{
    transform: scale(1.05);
}

.stage1.completed{
    background-color: #7a3600;
}

.stage1-text{
    margin-top: 5px;
}

/*Stage 2*/
.stage2{
    width: 180px;
    height: 180px;
    border: none;
    border-radius: 50%;
    background-color: #964B00;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    margin-top: -5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.3s;
}

.stage2:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.stage2.completed {
    background-color: #7a3600;
}

.stage2-text {
    margin-top: 5px;
}

/*Stage 3*/
.stage3{
    width: 180px;
    height: 180px;
    border: none;
    border-radius: 50%;
    background-color: #964B00;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    margin-top: -10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.3s;
}

.stage3:hover{
    transform: scale(1.05);
}

.stage3.completed{
    background-color: #7a3600;
}

.stage3-text{
    margin-top: 5px;
}

/*Stage 4*/
.stage4{
    width: 180px;
    height: 180px;
    border: none;
    border-radius: 50%;
    background-color: #964B00;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    margin-top: -7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.3s;
}

.stage4:hover{
    transform: scale(1.05);
}

.stage4.completed {
    background-color: #7a3600;
}

.stage4-text{
    margin-top: 5px;
}

/* Curved Lines */
.line-wrapper {
    position: relative;
    width: 100%;
}

.curved-line, .curved-line1, .curved-line2 {
    width: 100%;
    height: 5px;
    background-color: transparent; /* Initially transparent */
    position: absolute;
    border-radius: 5px;
}

.curved-line {
    background-color: transparent; /* Initially transparent */
    width: 850px;
    left: 50%;
    top: 70px; /* Adjust for vertical placement */
    margin-top: -18%;
    transform: translateX(-50%);
    transition: background-color 0.3s; /* Smooth transition */
}

.curved-line1 {
    background-color: transparent; /* Initially transparent */
    width: 850px;
    left: 50%;
    top: 300px; /* Adjust for vertical placement */
    margin-top: -28%;
    transform: translateX(-50%) rotate(-11deg);
    transition: background-color 0.3s; /* Smooth transition */
}

.curved-line2 {
    background-color: transparent; /* Initially transparent */
    width: 850px;
    left: 50%;
    top: 450px; /* Adjust for vertical placement */
    margin-top: -48%;
    transform: translateX(-50%) rotate(-1deg);
    transition: background-color 0.3s; /* Smooth transition */
}

.completed-line {
    background-color: #964B00; /* Color when filled */
}

