body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(255, 70, 255); 
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    background-color: palevioletred;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 50px auto;
}
h1 {
    text-align: center;
    color:rgb(218, 21, 83); 
    margin-bottom: 30px;
}
.quiz-question {
    font-size: 18px;
    font-weight: bold;
    color: red;
    margin-top: 20px;
}
.options {
    margin: 20px 0;
}
.options label {
    display: block;
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.options input {
    margin-right: 10px;
}
.btn-submit, .btn-back, .btn-next 
{
    background-color: rebeccapurple; 
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}
.btn-submit:hover, .btn-back:hover, .btn-next:hover{
    background-color:blue; 
}
.quiz-result {
    display: none;
    margin-top: 20px;
}
.quiz-result.correct {
    color: green;
}
.quiz-result.incorrect {
    color: blue;
}
.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}